---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'Montserrat', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$ss1: 'Poiret One', cursive;
$ss2: 'Righteous', cursive;
$fuck-font: 'Bokor', cursive;
$future-font: 'Monoton', cursive;

$text-color:       #9a9093;
$background-color: #111;
$bg-dark: #090909;
$bg-light: rgba(80,80,80,0.8);

$link-color: lighten($text-color, 30%);
$link-hover-color: darken($text-color, 10%);

$eyecatch-width: 480px;
$title-color: #fff;

$h0: 200px;
$h0-lh: 0.85;
$h1: 20px;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

* {
    box-sizing: border-box;
    // border: solid yellow 3px;
}

body, html {
    padding: 0;
    margin: 0;
}

a {
    color: $link-color;
    text-decoration: none;
    &:hover {
        color: $link-hover-color;
    }
}

body {
    color: $text-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    line-height: $base-line-height;
    background-color: $background-color;
    background-image: url('../static/img/tunnel.jpg');
}

.top-main {
    p {
        padding: 20px;
        max-width: 1000px;
        margin: 0 auto;
    }
    padding: 20px;
    margin: 0 -5vw;
    background-color: $bg-dark;
}

.top-wrapper {
    position: relative;
    .eyecatch {
        transform: translateX(0);
        transition: all .5s ease-out;
    }
    &:hover .eyecatch {
        transform: translateX(-85%);
        transition: all .5s ease-out;
    }

    .sub-panel {
        z-index: 0;
        width: 100%;
        height: 100%;
        font-size: $h1;
        position: absolute;
        top: 0;
        opacity: 0;
        background-color: $bg-light;
        transition: all .5s ease-out;
    }

    &:hover .sub-panel {
        opacity: 1;
        transition: all .5s ease-out;
    }

    .sub-inner {
        margin-left: 40%;
        height: 100%;
        .h {
            font-size: 60px;
            margin-bottom: 20px;
            color: lighten($text-color, 40%);
        }
        .player {
            iframe {
                pointer-events: all;
            }
            // background-color: $bg-dark;
        }
    }
    margin-bottom: -7px;
    overflow: hidden;
}
.eyecatch {
    z-index: 1;
    display: block;
    width: $eyecatch-width;
    margin: 0 auto;
    position: relative;

    .text {
        z-index: 2;
        text-transform: uppercase;
        font-family: $future-font;
        word-wrap: break-word;
        word-break: break-all;
        position: absolute;
        top: 0;
        left: 0;
        color: $title-color;
        font-size: $h0;
        line-height: $h0-lh;
    }
    .eye-img {
        z-index: 1;
        width: $eyecatch-width;
    }
}